[submodule "modules/antkeeper-source"]
	path = modules/antkeeper-source
	url = https://github.com/antkeeper/antkeeper-source.git
[submodule "modules/antkeeper-data"]
	path = modules/antkeeper-data
	url = https://github.com/antkeeper/antkeeper-data.git